#!/usr/bin/make -f

SHELL=/bin/bash

package=openssl

# For generating the manpages
export VERSION=$(shell dpkg-parsechangelog | grep '^Version:' | sed -e 's/^.*://' -e 's/-.*//')

# The binary architeture
DEB_HOST_ARCH = $(shell dpkg-architecture -qDEB_HOST_ARCH)
DEB_HOST_MULTIARCH=$(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
DEB_HOST_ARCH_CPU=$(shell dpkg-architecture -qDEB_HOST_ARCH_CPU)
export $DEB_HOST_MULTIARCH

DEB_HOST_GNU_TYPE=$(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE=$(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)
ifneq ($(DEB_HOST_GNU_TYPE),$(DEB_BUILD_GNU_TYPE))
	export CROSS_COMPILE ?= $(DEB_HOST_GNU_TYPE)-
endif

CONFARGS  = \
	--prefix=/opt/imscp-openssl-1.0.2 \
	--openssldir=/opt/imscp-openssl-1.0.2/lib/ssl \
	--libdir=lib/$(DEB_HOST_MULTIARCH) \
	no-idea no-mdc2 no-rc5 no-zlib enable-tlsext no-ssl2 no-ssl3 \
	enable-unit-test no-ssl3-method enable-rfc3779 enable-cms
OPT_alpha = ev4 ev5
ARCHOPTS  = OPT_$(DEB_HOST_ARCH)
OPTS      = $($(ARCHOPTS))
WANTED_LIBC_VERSION = 2.3.1-10

ifeq ($(DEB_HOST_ARCH_CPU), amd64)
	CONFARGS += enable-ec_nistp_64_gcc_128
endif

MAKE_TEST = make test
ifneq (,$(findstring nocheck,$(DEB_BUILD_OPTIONS)))
	MAKE_TEST = :
endif

%:
	dh $@ --without autoreconf

override_dh_auto_configure:

override_dh_auto_build:
	./Configure no-shared $(CONFARGS) debian-$(DEB_HOST_ARCH)
	make depend
	make -f Makefile all
	$(MAKE_TEST)
	mv libcrypto.a libcrypto.static
	mv libssl.a libssl.static
	make -f Makefile clean
	test -z "$(OPTS)" || for opt in $(OPTS); \
	do \
		set -xe; \
		./Configure shared $(CONFARGS) debian-$(DEB_HOST_ARCH)-$$opt; \
		make -f Makefile all; \
		$(MAKE_TEST); \
		mkdir -p $$opt; \
		mv libcrypto.so* libssl.so* $$opt/; \
		make -f Makefile clean; \
	done
	./Configure shared $(CONFARGS) debian-$(DEB_HOST_ARCH)
	ln -sf apps/openssl.pod crypto/crypto.pod ssl/ssl.pod doc/
	make -f Makefile all
	$(MAKE_TEST)

override_dh_auto_test:

override_dh_auto_clean:
	-./Configure $(CONFARGS) debian-$(DEB_HOST_ARCH)
	[ ! -f Makefile ] || make -f Makefile  clean clean-shared
	-rm -f test/.rnd test/testkey.pem test/testreq.pem test/certCA.srl
	-rm -f util/mk1mf.bak Makefile.bak `find . -name Makefile.save` 
	-rm -f crypto/pem/ctx_size
	-rm -f `find . -name "*~"`
	-rm -f `find . -name "*.orig" -o -name "*.rej"`
	-rm -f certs/*.0 certs/*.1
	-rm -rf core $(OPTS)
	-rm doc/*.pod
	-rm -f libcrypto.* libssl.*
	-cd test && rm -f .rnd tmp.bntest tmp.bctest *.o *.obj lib tags core .pure .nfs* *.old *.bak fluff bntest ectest  ecdsatest ecdhtest ideatest md2test  md4test md5test hmactest rc2test rc4test rc5test destest shatest sha1test sha256t sha512t mdc2test rmdtest randtest dhtest enginetest bftest casttest ssltest exptest dsatest rsa_test evp_test *.ss *.srl log dummytest newkey.pem igetest
	-rm Makefile apps/CA.pl tools/c_rehash crypto/opensslconf.h crypto/x86_64cpuid.S
	rm -f test/asn1test test/wp_test test/srptest test/jpaketest
	rm -f certs/demo/*.0
	rm -rf crypto/aes/aes-armv4.S crypto/bn/armv4-gf2m.S crypto/modes/ghash-armv4.S crypto/sha/*.S
	find . -type l -exec rm '{}' \;

override_dh_auto_install:
	make -f Makefile install INSTALL_PREFIX=`pwd`/debian/tmp
	cp -pf libcrypto.static debian/tmp/opt/imscp-openssl-1.0.2/lib/$(DEB_HOST_MULTIARCH)/libcrypto.a
	cp -pf libssl.static debian/tmp/opt/imscp-openssl-1.0.2/lib/$(DEB_HOST_MULTIARCH)/libssl.a
	cp -auv lib*.so* debian/tmp/opt/imscp-openssl-1.0.2/lib/$(DEB_HOST_MULTIARCH)/
	for opt in $(OPTS); \
		do set -xe; \
		mkdir -p debian/tmp/opt/imscp-openssl-1.0.2/lib/$(DEB_HOST_MULTIARCH)/$$opt; \
		cp -auv $$opt/lib*.so* debian/tmp/opt/imscp-openssl-1.0.2/lib/$(DEB_HOST_MULTIARCH)/$$opt/; \
	done
	mkdir -p debian/tmp/opt/imscp-openssl-1.0.2/include/$(DEB_HOST_MULTIARCH)/openssl
	mv debian/tmp/opt/imscp-openssl-1.0.2/include/openssl/opensslconf.h debian/tmp/opt/imscp-openssl-1.0.2/include/$(DEB_HOST_MULTIARCH)/openssl/
	dh_lintian -a

override_dh_installchangelogs:
	dh_installchangelogs -a CHANGES

override_dh_makeshlibs:
	dh_makeshlibs -a -n -V -Xengines

override_dh_shlibdeps:
	dh_shlibdeps -a -L imscp-libssl1.0.2
